<div>
    <h1>Profile setup</h1>
    <p><%= tagline %></p>
    <ul>
        <% matches.forEach(function(match) { %>
            <li>
                <strong><%= match.name %></strong>,
                representing <%= match.breed %>, age <%= match.age %>
            </li>
            <% if (match.age > 18) { %>
                <p> valid!!!</p>
                <%} else { %>
                <p> Not Allowed </p>
                <% } %>
        <% }); %>
    </ul>
</div>