<nav class="navBar">
  <ul>
    <li class="navItem">
      <a class="navLogo" href="/dashboard"
        ><img src="img/Matcheum_logobar.png" alt="Matcheum logo"
      /></a>
    </li>
    <li class="navItem"></li>
  </ul>
</nav>
