<nav class="navBar">
    <ul>
      <li class="navItem">
        <a class="navLogo" href="/"><img src="img/Matcheum_logobar.png" alt="Matcheum logo"></a>
      </li>
      <li class="navItem">
        <a class="nav-link" href="/about"><img src="img/5e535b408becbf85d3544d99_peep-82.png" alt="Matcheum logo"></a>
      </li>
    </ul>
  </nav>