<div>
  <div class="ProfileTop">
    <h1>Profile setup</h1>
    <img src="img/5e535b408becbf85d3544d99_peep-82.png">
  </div>

    <form>
        <label for="fullName">Full name</label><br>
        <input type="text" id="fullName" name="fullName" value="e.g. Vincent van Gogh" required><br>

        <label for="accountName">Account name</label><br>
        <input type="text" id="accountName" name="accountName" value="e.g. Goghy" required><br>
        <p class="finePrint">This name is shown to others</p>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" minlength="4" required><br>

        <label for="birthdate">Birthdate</label><br>
        <input class="birthdate" type="date" placeholder="YYYY-MM-DD" data-date-split-input="true" required><br>

        <label for="gender">Gender</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label><br>
        
        <label for="placeResidence">Place of residence</label><br>
        <input type="text" id="placeResidence" name="placeResidence" value="e.g. Amsterdam"><br>

        <label for="knowledge">Knowledge</label><br>
        <input type="radio" id="amature" name="knowledge" value="amature">
        <label for="amature">Amature</label><br>
        <input type="radio" id="moderate" name="knowledge" value="moderate">
        <label for="moderate">Moderate</label><br>
        <input type="radio" id="expert" name="knowledge" value="expert">
        <label for="expert">Expert</label><br>

        <label for="about">Name in 1 sentence</label><br>
        <textarea id="about" name="about" rows="4" cols="50"> My name is Vincent van Gogh better known as Goghy. When we meet you have to speak loudly, I lost one ear.
        </textarea>

        <h2>Museum</h2>
        <label for="location">Location</label><br>
        <input type="checkbox" id="drenthe" name="location" value="drenthe">
        <label for="drenthe">Drenthe</label><br>
        <input type="checkbox" id="flevoland" name="location" value="flevoland">
        <label for="flevoland">Flevoland</label><br>
        <input type="checkbox" id="friesland" name="location" value="friesland">
        <label for="friesland">Friesland</label><br>
        <input type="checkbox" id="gelderland" name="location" value="gelderland">
        <label for="gelderland">Gelderland</label><br>
        <input type="checkbox" id="groningen" name="location" value="groningen">
        <label for="groningen">Groningen</label><br>
        <input type="checkbox" id="limburg" name="location" value="limburg">
        <label for="limburg">Limburg</label><br>
        <input type="checkbox" id="noordBrabant" name="location" value="noordBrabant">
        <label for="noordBrabant">Noord-Brabant</label><br>
        <input type="checkbox" id="noordHolland" name="location" value="noordHolland">
        <label for="noordHolland">Noord-Holland</label><br>
        <input type="checkbox" id="overijssel" name="location" value="overijssel">
        <label for="overijssel">Overijssel</label><br>
        <input type="checkbox" id="utrecht" name="location" value="utrecht">
        <label for="utrecht">Utrecht</label><br>
        <input type="checkbox" id="zeeland" name="location" value="zeeland">
        <label for="zeeland">Zeeland</label><br>
        <input type="checkbox" id="zuidHolland" name="location" value="zuidHolland">
        <label for="zuidHolland">Zuid-Holland</label><br>

        <label for="category">Category</label><br>
        <input type="checkbox" id="art" name="category" value="art">
        <label for="art">Art</label><br>
        <input type="checkbox" id="history" name="category" value="history">
        <label for="history">History</label><br>
        <input type="checkbox" id="naturalHistory" name="category" value="naturalHistory">
        <label for="naturalHistory">Natural history</label><br>
        <input type="checkbox" id="science" name="category" value="science">
        <label for="science">Industry, science and technology</label><br>
        <input type="checkbox" id="ethography" name="category" value="ethography">
        <label for="ethography">Ethnography</label><br>

        <label for="goal">Goal</label><br>
        <input type="checkbox" id="fun" name="goal" value="fun">
        <label for="fun">Fun</label><br>
        <input type="checkbox" id="people" name="goal" value="people">
        <label for="people">Meeting new people</label><br>
        <input type="checkbox" id="knowledge" name="goal" value="knowledge">
        <label for="knowledge">Knowledge</label><br>
        <input type="checkbox" id="romance" name="goal" value="romance">
        <label for="romance">Romance</label><br>

        <input type="submit" value="Submit">
      </form> 
</div>