<div id="resultlist">
    <div class="resultCard">
        <img src="img/Stedelijk.jpg">
        <p>
            Visit the Stedelijk Museum Amsterdam with Peter
        </p>
    </div>

    <div class="resultCard">
        <img src="img/Stedelijk.jpg">
        <p>
            Visit the Stedelijk Museum Amsterdam with Peter
        </p>
    </div>

    <div class="resultCard">
        <img src="img/Stedelijk.jpg">
        <p>
            Visit the Stedelijk Museum Amsterdam with Peter
        </p>
    </div>

    <div class="resultCard">
        <img src="img/Stedelijk.jpg">
        <p>
            Visit the Stedelijk Museum Amsterdam with Peter
        </p>
    </div>
</div>