
<div>
    <div class="profileTop">
      <h1>Profile change</h1>
    </div>

    
      <!-- <form action="/profileview" method="get">
        <fieldset class="account">
          <label class="labelTitel" for="fullName">Full name *</label><br>
          <input type="text" id="fullName" name="fullName"><br>
  
          <label class="labelTitel" for="accountName">Account name *</label><br>
          <p class="finePrint">This name is shown to others</p>
          <input type="text" id="accountName" name="accountName"><br>
  
          <label class="labelTitel" for="email" >Email address *</label>
          <input name="email" type="email">
  
          <label class="labelTitel" for="password">Password *</label><br>
          <input type="password" id="password" name="password" minlength="4"><br>
        </fieldset>
    
          <input class="button" type="submit" value="Submit">
          <input class="button" type="submit" value="Submit">
      </form>  -->
  </div>