<div>
  <div class="profileTop">
    <h1>Profile setup</h1>
  </div>

  <form action="/update" method="POST">
    <fieldset class="account">
      <label class="labelTitel" for="updateFullName">Full name *</label><br />
      <input type="text" id="fullName" name="updateFullName" required /><br />

      <label class="labelTitel" for="updateAccountName">Account name *</label
      ><br />
      <p class="finePrint">This name is shown to others</p>
      <input
        type="text"
        id="accountName"
        name="updateAccountName"
        required
      /><br />

      <label class="labelTitel" for="updateEmail">Email address *</label>
      <input type="email" id="email" name="updateEmail" required />

      <label class="labelTitel" for="updatePassword">Password *</label><br />
      <input
        type="password"
        id="password"
        name="updatePassword"
        minlength="4"
        required
      /><br />
    </fieldset>

    <fieldset class="accountInfo">
      <label class="labelTitel" for="updateBirthdate">Birthdate *</label><br />
      <input type="date" id="birthdate" name="updateBirthdate" /><br />

      <label class="labelTitel" for="updateGender">Gender</label><br />
      <input type="radio" id="male" name="updateGender" value="male" />
      <label for="male">Male</label>
      <input type="radio" id="female" name="updateGender" value="female" />
      <label for="female">Female</label>
      <input type="radio" id="other" name="updateGender" value="other" />
      <label for="other">Other</label><br />

      <label class="labelTitel" for="updatePlaceResidence"
        >Place of residence</label
      ><br />
      <input
        type="text"
        id="placeResidence"
        name="updatePlaceResidence"
      /><br />

      <label class="labelTitel" for="updateKnowledge">Knowledge</label><br />
      <input type="radio" id="amature" name="updateKnowledge" value="amature" />
      <label for="amature">Amature</label>
      <input
        type="radio"
        id="moderate"
        name="updateKnowledge"
        value="moderate"
      />
      <label for="moderate">Moderate</label>
      <input type="radio" id="expert" name="updateKnowledge" value="expert" />
      <label for="expert">Expert</label><br />

      <label class="labelTitel" for="updateAbout">You in one sentence</label
      ><br />
      <textarea id="about" name="updateAbout" rows="4" cols="50"></textarea>
    </fieldset>

    <fieldset class="accountMuseum">
      <h2>Museum</h2>
      <label class="labelTitel" for="updateLocation">Location</label><br />
      <div class="containerLocation">
        <input
          type="checkbox"
          id="drenthe"
          name="updateLocation"
          value="drenthe"
        />
        <label for="drenthe">Drenthe</label>
        <input
          type="checkbox"
          id="flevoland"
          name="updateLocation"
          value="flevoland"
        />
        <label for="flevoland">Flevoland</label>
        <input
          type="checkbox"
          id="friesland"
          name="updateLocation"
          value="friesland"
        />
        <label for="friesland">Friesland</label>
        <input
          type="checkbox"
          id="gelderland"
          name="updateLocation"
          value="gelderland"
        />
        <label for="gelderland">Gelderland</label>
        <input
          type="checkbox"
          id="groningen"
          name="updateLocation"
          value="groningen"
        />
        <label for="groningen">Groningen</label>
        <input
          type="checkbox"
          id="limburg"
          name="updateLocation"
          value="limburg"
        />
        <label for="limburg">Limburg</label>
        <input
          type="checkbox"
          id="noordBrabant"
          name="updateLocation"
          value="noordBrabant"
        />
        <label for="noordBrabant">Noord-Brabant</label>
        <input
          type="checkbox"
          id="noordHolland"
          name="updateLocation"
          value="noordHolland"
        />
        <label for="noordHolland">Noord-Holland</label>
        <input
          type="checkbox"
          id="overijssel"
          name="updateLocation"
          value="overijssel"
        />
        <label for="overijssel">Overijssel</label>
        <input
          type="checkbox"
          id="utrecht"
          name="updateLocation"
          value="utrecht"
        />
        <label for="utrecht">Utrecht</label>
        <input
          type="checkbox"
          id="zeeland"
          name="updateLocation"
          value="zeeland"
        />
        <label for="zeeland">Zeeland</label>
        <input
          type="checkbox"
          id="zuidHolland"
          name="updateLocation"
          value="zuidHolland"
        />
        <label for="zuidHolland">Zuid-Holland</label>
      </div>

      <label class="labelTitel" for="updateCategory">Category</label><br />
      <div class="containerCategory">
        <input type="checkbox" id="art" name="updateCategory" value="art" />
        <label for="art">Art</label>
        <input
          type="checkbox"
          id="history"
          name="updateCategory"
          value="history"
        />
        <label for="history">History</label>
        <input
          type="checkbox"
          id="naturalHistory"
          name="updateCategory"
          value="naturalHistory"
        />
        <label for="naturalHistory">Natural history</label>
        <input
          type="checkbox"
          id="science"
          name="updateCategory"
          value="science"
        />
        <label id="long" for="science">Industry, science and technology</label>
        <input
          type="checkbox"
          id="ethography"
          name="updateCategory"
          value="ethography"
        />
        <label for="ethography">Ethnography</label>
      </div>

      <label class="labelTitel" for="updatGoal">Goal</label><br />
      <div class="containerGoal">
        <input type="checkbox" id="fun" name="updateGoal" value="fun" />
        <label for="fun">Fun</label>
        <input type="checkbox" id="people" name="updateGoal" value="people" />
        <label for="people">Meeting new people</label>
        <input
          type="checkbox"
          id="knowledge"
          name="updateGoal"
          value="knowledge"
        />
        <label for="knowledge">Knowledge</label>
        <input type="checkbox" id="romance" name="updateGoal" value="romance" />
        <label for="romance">Romance</label>
      </div>
    </fieldset>

    <input class="button" type="submit" value="Submit" />
  </form>
</div>
