body {
  box-sizing: border-box;
  margin: 0;
  padding: 20%;
  font-family: 'Merriweather', serif;
  background-color: rgb(49, 52, 53);
  font-size: 0.8em;
}

.mobile {
  width: 500px;
  height: 100%;
  border-color: grey;
  border-style: ridge;
  border-radius: 15px;
  background-color: #fffcf8;
}

.navBar ul {
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: black;
  margin: 0;
  border-radius: 15px 15px 0 0;
  display: flex;
}

.navItem {
  list-style: none;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.navBar img {
  height: 50px;
}

h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 3em;
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  font-family: 'Bodoni Moda', serif;
  font-size: 2.5em;
}

.profileTop {
  text-align: center;
  padding-top: 40px;
}

.image {
  height: 400px;
  background-color: white;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
}

form {
  text-align: center;
}

label {
  font-size: 12px;
  margin-top: 5.5px;
}

fieldset {
  border: 0;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 25px;
  padding-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: white;
}

input,
textarea {
  margin-top: 0.5em;
  margin-bottom: 2em;
  width: 80%;
  color: rgb(179, 179, 179);
  font-family: 'Merriweather', serif;
  font-size: 11px;
  text-align: center;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

form p {
  font-size: 0.8em;
}

.labelTitel {
  font-size: 1.5em;
  margin-bottom: 5.5px;
}

.containerLocation,
.containerCategory {
  display: grid;
  grid-template-columns: 30px 100px 30px 100px 30px 100px;
  text-align: left;
  margin-top: 18px;
}

#long {
  grid-column-start: 2;
  grid-column-end: 5;
}

.containerGoal {
  margin-left: 10%;
  display: grid;
  grid-template-columns: 30px 150px 30px 150px;
  text-align: left;
  margin-top: 18px;
}

.button {
  font-size: 1.5em;
  color: black;
  width: 50%;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  background-color: white;
  border-color: rgb(184, 184, 184);
}

.button:hover {
  background-color: #4996e8;
  border: 0;
  color: white;
}

.resultCard {
  margin-left: 20px;
  background-color: white;
  width: 460px;
  margin-top: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding-bottom: 18px;
}

.resultCard img {
  border-radius: 10px 10px 0 0;
  width: 460px;
}

.resultCard p {
  padding-left: 1em;
  font-size: 14px;
}
