<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <div class="mobile">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1>Page not found</h1>
        <p>404 error</p>
        <img class="image" src="img/5e5358af8e24939dc40660de_peep-60.png" alt="Alien girl">
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</div>

</body>
</html>