<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div class="mobile">
      <header><%- include('../partials/header'); %></header>

      <main>
        <h1>Your profile has been updated</h1>
        <a class="link" href="/results">Go to results</a>
      </main>

      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
