<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div class="mobile">
      <header><%- include('../partials/header'); %></header>

      <main>
        <%- include('../partials/accountData'); %>

        <a class="link" href="/update">Change your profile</a>
        <a class="link" href="/results">Delete your profile</a>
      </main>

      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
