<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="mobile">
      <main>
        <img class="homeimg" src="img/Matcheum_logo.png" alt="Matcheum" />
        <a class="link" href="/registerpage">Register</a>
      </main>

      <footer><%- include('../partials/footer'); %></footer>
    </div>
  </body>
</html>
