<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="mobile">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <%- include('../partials/register'); %>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>

</body>
</html>